@{
  ViewBag.Title = "Démo";
}

@using (Html.BeginForm("Index", "Home"))
{
  <div class="container-fluid" style="background-color:black;">
    <a href="@Url.Action("Index", "Home", new { id = 1 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fab fa-mix"></i>
      </span>
      <span class="text" style="width:170px;">Chute</span>
    </a>

    <a href="@Url.Action("Index", "Home", new { id = 2 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Cercle</span>
    </a>

    <a href="@Url.Action("Index", "Home", new { id = 3 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-heartbeat"></i>
      </span>
      <span class="text" style="width:170px;">ECG</span>
    </a>

    <a href="@Url.Action("Index", "Home", new { id = 4 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-bullseye"></i>
      </span>
      <span class="text" style="width:170px;">Spiral</span>
    </a>

    <button type="submit" name="id" value="5" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Stroboscope</span>
    </button>

    <select name="CmbStroboscope" class="btn btn-primary btn-lg" style="background-color:#4e73df;color:white;border-color:#4e73df;margin:10px;width:232px;">

      @for (int i = 10; i <= 200; i += 10)
      {
        if (ViewBag.CmbStroboscope == i)
        {
          <option value="@i" selected>@i ms</option>
        }
        else
        {
          <option value="@i">@i ms</option>
        }
      }
    </select>

    <a href="@Url.Action("Index", "Home", new { id = 6 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Oscilloscope</span>
    </a>
  </div>
}