
@{
  ViewData["Title"] = "Jeu";
}

<div class="container-fluid" style="background-color:black;">
  <a href="@Url.Action("Index", "Home", new { id = 0 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-meteor"></i>
    </span>
    <span class="text" style="width:170px;">Pong</span>
  </a>

  <a href="@Url.Action("Index", "Home", new { id = 1 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-th-large"></i>
    </span>
    <span class="text" style="width:170px;">Tetris</span>
  </a>

  <a href="@Url.Action("Index", "Home", new { id = 2 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-dragon"></i>
    </span>
    <span class="text" style="width:170px;">Serpent</span>
  </a>

  <a href="@Url.Action("Index", "Home", new { id = 3 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">Labyrinthe</span>
  </a>

  <a href="@Url.Action("Index", "Home", new { id = 4 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">Arkanoïd</span>
  </a>

  <a href="@Url.Action("Index", "Home", new { id = 5 })" class="btn btn-primary btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">Centipede</span>
  </a>

</div>
