<div class="col-6 gap-2 d-grid">
  <button class="btn btn-primary btn-lg" @onclick="Set">

    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
      <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
      <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z" />
    </svg>

    Couleur
  </button>
</div>

@if (BoutonActif)
{
  <div class="modal fade show" id="myModal" aria-modal="true" role="dialog" style="display:block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Choisir les couleurs
          </h4>

          <div class="p-2 rounded-3" style="@BGColor">
            &nbsp;&nbsp; @R, @G, @B &nbsp;&nbsp;
          </div>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <label for="Rouge" class="form-label m-0">Rouge @R</label>
              <input type="range" class="form-range" min="0" max="127" id="Rouge" @bind="@R" @bind:event="oninput">
            </div>
            <div class="col-4">
              <label for="Vert" class="form-label m-0">Vert @G</label>
              <input type="range" class="form-range" min="0" max="127" id="Vert" @bind="@G" @bind:event="oninput">
            </div>
            <div class="col-4">
              <label for="Bleu" class="form-label m-0">Bleu @B</label>
              <input type="range" class="form-range" min="0" max="127" id="Bleu" @bind="@B" @bind:event="oninput">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @onclick="ModalOk">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
}